{% extends 'tracks/base_service.html' %}
{% load i18n %}

{% block title %}
    Delete Genre {{ genre.title }} - {{ block.super }}
{% endblock %}

{% block content %}
    <div class="update_form container mx-auto text-center my-4">
        <form action="{{ genre.get_delete_url }}" method="post">
            {% csrf_token %}
            <h5 class="mb-5">{% trans Are you sure you wanna delete <b>"{{ genre.title|title }}"</b> genre? %}</h5>
            <input type="button" value="Cancel" class="btn btn-info mr-2"
                   onclick="location.href='{{ genre.get_absolute_url }}'">
            <input type="submit" class="btn btn-danger" value="Delete">
        </form>
    </div>
{% endblock %}