{% extends 'tracks/base_service.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Create track' %} - {{ block.super }}
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <form action="{% url 'track_create_url' %}" method="post" class="mb-4">
            {% csrf_token %}

            {% for field in form %}
                <div class="form-group">
                    {% if field.errors %}
                        <div class="alert alert-danger">
                            {{ field.errors }}
                        </div>
                    {% endif %}

                    {{ field.label }}
                    {{ field }}
                </div>
            {% endfor %}
            <input type="submit" class="btn btn-primary" value="Create track">
        </form>
    </div>
{% endblock %}
