{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Register' %} - {{ block.super }}
{% endblock %}

{% block content %}
    <div class="container mt-4 w-100">
        {% if request.user.is_authenticated %}
            <h2 class="alert alert alert-danger">{% trans 'You logged in, logout and try one more!' %}</h2>
        {% else %}
            <h2>{% trans 'Register page' %}</h2>
            <form action="{% url 'register' %}" method="post" class="mb-4">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {% if field.errors %}
                            <div class="alert alert-danger">
                                {{ field.errors }}
                            </div>
                        {% endif %}

                        {{ field.label }}
                        {{ field }}
                        <br>{{ field.help_text }}
                    </div>
                {% endfor %}

                <input type="submit" class="btn btn-primary btn-sm" value={% trans "Register" %}>
            </form>
        {% endif %}
    </div>
{% endblock %}